body {
    background-color: #000;
    color: #ccc;
}

h1 {
    text-align: center;
    margin: 0;
}

.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    box-sizing: border-box;
}

.horizontal-center {
    width: 300px;
    padding: 20px;
    box-sizing: border-box;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

input {
    background-color: #000;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #ccc;
}

input[type=button] {
    background-color: #333;
    padding: 5px 15px;
    margin: 10px;
}

input[type=button]:active {
    background-color: #777;
}


input[type=text], input[type=number] {
    width: 50px;
    margin: 2px;
}

.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}